.player
    // width: 60%
    .player-container
        max-width: 700px
        margin: 0 auto

        audio
            display: none
        .cover
            img
                width: 200px
                // height: 300px
                border-radius: 50%
        .song-info
            margin: 40px 0
            h4
                color: gray
                font-weight: 400
                // font-size: .9rem
                margin-top: 10px
        .song-progress
            display: flex
            justify-content: space-between
            align-items: center
            gap: 10px

            .progress
                position: relative
                width: 100%
                overflow: hidden
                height: 16px
                background: rgb(0 0 0 / .2)
                // background: dodgerblue
                border-radius: 10px
                .progress-bar
                    height: 100%
                    width: 100%
                    border-radius: 10px

        .player-controls
            display: flex
            justify-content: center
            // gap: 10px
            max-width: 400px
            margin: 25px auto
            // background: rgb(0 100 0 / .5)
            .control-buttons
                display: flex
                justify-content: space-between
                align-items: center
                width: 60%
                // max-width: 400px
                // margin: 0 auto

            .track-volume
                display: flex
                justify-content: center
                align-items: center
                gap: 15px
                position: relative
                input
                    display: none
                    transform: rotate(-90deg)
                    position: absolute
                    top: -45px
                    right: -80px

@media (min-width: 768px)
    .player
        .player-container
            .cover
                img
                    width: 300px
                    // height: 300px
                    // border-radius: 50%
